<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirm edit review</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
		
	<h2>Confirm edit review</h2>

	<table th:object="${reviewEditForm}">
		<tr>
			<td class="guide">【ID】</td>
			<td th:text="*{reviewId}"></td>
		</tr>
		<tr>
			<td class="guide">【Restaurant】</td>
			<td th:text="*{restaurantName}"></td>
		</tr>
		<tr>
			<td class="guide">【User ID】</td>
			<td th:text="*{userId}"></td>
		</tr>
		<tr>
			<td class="guide">【Visit date】</td>
			<td th:text="*{visitDate}"></td>
		</tr>
		<tr>
			<td class="guide">【Rating】（1-5）</td>
			<td th:text="*{rating}"></td>
		</tr>
		<tr>
			<td class="guide">【Comment】</td>
			<td th:text="*{comment}"></td>
		</tr>
		
	</table>

    <form th:action="@{/confirm-edit-review}" method="POST"
			th:object="${reviewEditForm}">
		<input type="hidden" th:field="*{reviewId}">
    	<input type="hidden" th:field="*{restaurantId}">
    	<input type="hidden" th:field="*{userId}">
    	<input type="hidden" th:field="*{visitDate}">
    	<input type="hidden" th:field="*{rating}">
    	<input type="hidden" th:field="*{comment}">
    	<input type="submit" value="Edit" class="button">
   	</form>

    <form th:action="@{/show-edit-form}" method="POST"
			th:object="${reviewEditForm}">
		<input type="hidden" th:field="*{reviewId}">
    	<input type="hidden" th:field="*{restaurantId}">
		<input type="hidden" th:field="*{restaurantName}">
    	<input type="hidden" th:field="*{userId}">
    	<input type="hidden" th:field="*{visitDate}">
    	<input type="hidden" th:field="*{rating}">
    	<input type="hidden" th:field="*{comment}" class="btn">
    	<input type="submit" value="Back" class="button">
   	</form>

</body>
</html>